# mySQL-Settings
$MYSQLUSER="root"
$MYSQLPASS="password"
$MYSQLDB="database"

# Backup Directory without / @end
$BACKUPDIR="/home/user" 

# Log Dir without / @end
$LOGDIR="/var/log"


# Verschluesselung
$KEYFILE="/home/user/keyfile.key"
