# mySQL-Settings
$MYSQLUSER="root"
$MYSQLPASS="password"
$MYSQLDB="database"

# Backup Write to Directory without / @end
$BACKUP_TO="/home/user" 

# Log Dir without / @end
$LOG_TO="/var/log"

# Backup locations file
$BACKUP_DIR="/home/user/backup.dir"

# Verschluesselung
$KEYFILE="/home/user/keyfile.key"
