[Unit]
Description=impro-backup Integritätsprüfung wöchentlich

[Timer]
OnCalendar=Sun *-*-* 05:00:00
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
